@charset "UTF-8";  

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Celulares // Tablets */
@media(max-width:1150px){
 section{
    font-size: 40px;
 }
 header > h1{
    font-size: 3em;
 }
}
@media(min-width: 1150px) and (max-width: 1800px){
 section{
    font-size: 50px;
 }
  header > h1{
    font-size: 3em;
 }
}

:root {
     --fonte1: Verdana, Geneva, Tahoma, sans-serif;
     --fonte2: 'Passion One' , cursive;
     --fonte3: 'Sriracha', cursive;
     --fonte4: 'Tangerine', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height:100vh;
    background-color:darkgray;
    font-family: var(--fonte3);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    
}

header > h1{
   font-family: var(--fonte2) ;
    font-variant: small-caps;
}

    
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    
}
section{
    font-family: var(--fonte4);
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-weight: bold;
}
section > p {
    padding-bottom: 20px;
}
section.imagem{
box-shadow: inset 4px 5px 5px rgba(0, 0, 0, 0.236);
background-color: rgb(39, 39, 39);
color:white;
background-attachment:fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(17, 17, 17, 0.59);
    text-shadow: 1px 1px 5px black;
}
section.normal{
    background-color: white;
    color: black;
}
section#img01{
    background-image:url(flores.jpg);
    background-size: cover;
}
section#img02{
    background-image:url(carta.jpg);
    background-position: right center;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
}


